{% extends 'top.html' %}
{% load static %}
{% block seo %}
<title>База знаний о правильном питании и сбалансированном рационе от нутрициолога Елены Мишуты, Минск - страница {{ page_obj.number }}</title>
<meta name="description" content="Статьи о нутрициологии, диетологии и физиологии для вашего здоровья. Объясняю простым языком расчет калорий, нутриенты и основы специализированного питания. Страница {{ page_obj.number }}">
<meta name="keywords" content="нутрициология, диетология, нутриенты, расчет калорий, специализированное питание, физиология питания, основы нутрициологии, статьи о питании">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{% url 'blog_index' %}">
<meta property="og:url" content="{% url 'blog_index' %}">
<meta property="og:type" content="article">
<meta property="og:title" content="База знаний о правильном питании и сбалансированном рационе от нутрициолога Елены Мишуты, Минск">
<meta property="og:image" content="{% static 'images/elenamishuta.jpg' %}">
<meta property="og:site_name" content="Нутрициолог Елена Мишута">
<meta property="og:description" content="Статьи о нутрициологии, диетологии и физиологии для вашего здоровья. Объясняю простым языком расчет калорий, нутриенты и основы специализированного питания">
 {% endblock %}
{% block breadcrumb_header %}
    {% include "breadcrumb_header.html" %}
{% endblock %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {% for post in page_obj %}
        <div class="blog-details section">
            <div class="container">
 <article class="article">
                <div class="post-img">
                  <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.alt }}">
                </div>
                <h2><a class="title text-uppercase" href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                <div class="meta-top">
       <ul>
           <li class="d-flex align-items-center"><i class="far fa-clock"></i>
               {{ post.created_on|date:"d E Y" }}</li>
       </ul>
                </div><!-- End meta top -->

                <div class="content">
                     <p>{{ post.description | safe }}<a class ="text-success text-decoration-none" href="{% url 'blog_detail' slug=post.slug %}"> читать дальше...</a></p>
                </div><!-- End post content -->

                <div class="meta-bottom">
        <i class="far fa-folder"></i>
    <ul class="cats">

        {% for category in post.categories.all %}
        <li>
        <a href="{% url 'blog_category' category.slug %}"> {{ category.name | capfirst }} </a>
        {% endfor %}
        </li>
    </ul>
         <i class="fa fa-tags"></i>
    {% if post.tags.all %}
        <ul class="tags">
            {% for tag in post.tags.all %}
                <li class="tag-item">
                    <a href="{% url 'posts_by_tag' tag.slug %}"
                    class="tag-link"
                    title="Все статьи с тегом {{ tag.name }}">
                    {{ tag.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
                </div><!-- End meta bottom -->
              </article>
 </div>
</div><!-- /Blog Details Section -->
            {% endfor %}
</div>
{% include 'sidebar.html' %}
<div class="container">
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
         <a href="?page=1">&laquo;</a>
         <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        <span class="current">
        <!--      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}-->
          Страница {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
        </span>
    </div>
</div>

  </div>
</div>

 {% endblock %}