{% extends 'top.html' %}
{% load static %}
{% block seo %}
<title>Статьи по теме {{ tag.name | capfirst | default_if_none:"-" }} {{ page_obj.number }} | Нутрициолог в Минске</title>
<meta name="description" content="Все статьи на тему {{ tag.name }} {{ page_obj.number }} от нутрициолога Елены Мишуты. Простые и понятные материалы о питании, расчете калорий и здоровом образе жизни.">
<meta name="keywords" content="{{ tag.name }}, статьи о питании, нутрициология, здоровое питание">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{% url 'posts_by_tag' tag.slug %}">
<meta property="og:url" content="{% url 'posts_by_tag' tag.slug %}">
<meta property="og:type" content="article">
<meta property="og:title" content="Статьи по теме {{ tag.name | capfirst | default_if_none:'-' }} {{ page_obj.number }} | Нутрициолог в Минске">
<meta property="og:image" content="{% static 'images/elenamishuta.jpg' %}">
<meta property="og:site_name" content="Консультация нутрициолога в Минске">
<meta property="og:description" content="Все статьи на тему {{ tag.name }} {{ page_obj.number }} от нутрициолога Елены Мишуты. Простые и понятные материалы о питании, расчете калорий и здоровом образе жизни.">
<meta property="article:published_time" content="{{ post.created_on }}">
<meta property="article:author" content="Елена Мишута">
{% endblock %}
{% block breadcrumb_header %}
    {% include "breadcrumb_header.html" with breadcrumb_title=tag.name %}
{% endblock %}
{% block page_content %}
<div class="container">
      <div class="row">
        <div class="col-lg-8">
  {% for post in posts %}
  <section id="blog-details" class="blog-details section">
            <div class="container">
 <article class="article">
                <div class="post-img">
                  <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.alt }}">
                </div>
                <h2><a class="title text-uppercase" href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                <div class="meta-top">
       <ul>
           <li class="d-flex align-items-center"><i class="lni lni-calendar-days"></i>
               {{ post.created_on|date:"d E Y" }}</li>
       </ul>
                </div><!-- End meta top -->

                <div class="content">
                     <p>{{ post.content | safe }}</p>
                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="lni lni-folder-1"></i>
                  <ul class="cats">
                <li>
                {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.slug %}"> {{ category.name | capfirst }} </a>
                {% endfor %}
                </li>
                  </ul>
                  <i class="lni lni-bookmark-1"></i>
{% if post.tags.all %}
    <ul class="tags">
        {% for tag in post.tags.all %}
            <li class="tag-item">
                <a href="{% url 'posts_by_tag' tag.slug %}"
                   class="tag-link"
                   title="Все статьи с тегом {{ tag.name }}">
                    {{ tag.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
                </div><!-- End meta bottom -->
              </article>
 </div>
</section><!-- /Blog Details Section -->
     {% endfor %}
  </div>
{% include 'sidebar.html' %}

      </div>
    </div>
 {% endblock %}
