{% extends 'base.html' %}
{% load static %}
{% block seo %}
<title>База знаний о питании и физиологии от нутрициолога Елены Мишуты - страница {{ page_obj.number }}</title>
<meta name="description" content="Статьи о нутрициологии, диетологии и физиологии для вашего здоровья. Объясняем простым языком расчет калорий, нутриенты и основы специализированного питания. Страница {{ page_obj.number }}">
<meta name="keywords" content="нутрициология, диетология, нутриенты, расчет калорий, специализированное питание, физиология питания, основы нутрициологии, статьи о питании">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{% url 'blog_index' %}">
<meta property="og:url" content="https://mishuta-nutrition.pro/blog">
<meta property="og:type" content="website">
<meta property="og:title" content="База знаний о питании: статьи от нутрициолога Елены Мишуты">
<meta property="og:image" content="{% static 'images/elenamishuta.jpg' %}">
<meta property="og:site_name" content="Нутрициолог Елена Мишута">
<meta property="og:description" content="Простые и понятные статьи о нутрициологии и физиологии. Узнайте все о расчете калорий, нутриентах и правильном питании для здоровья.">
 {% endblock %}
{% block page_content %}
<main>
<!-- section header -->
<section class="blog">
  <header>
    <div class="container center">
      <h1 class="animate-on-scroll delay-1"><a href="{% url 'blog_index' %}">База знаний</a></h1>
      <p class="lead animate-on-scroll delay-2">Полезная информация от нутрициолога</p>
    </div>
  </header>
</section>
<section class='page_section blog'>
            <div class="content_section container">
                <div class="row">
                	<div class="posts_block">
                        {% for post in page_obj %}
                        <div class="element col-md-6">
                            <div class="blog_post">
                                <div class="round_corners">
                                	<div class="post_flex">
                                        <img src="{{ post.image_min.url }}" alt="{{ post.alt }}" width="494">
                                    </div>
                                <h2><a class ="text-decoration-none" href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                                <small>{{ post.created_on }}</small>
                                <p>{{ post.description }} <a class ="text-info text-decoration-none" href="{% url 'blog_detail' slug=post.slug %}">   читать дальше ...</a></p>
                                </div>
                        </div><!--//blog_post-->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
</section>

  <div class="container">
  <div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
     <a href="?page=1">&laquo;</a>
     <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    <span class="current">
<!--      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}-->
      Страница {{ page_obj.number }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% endif %}
  </span>
  </div>
 </div>

</main>
 {% endblock %}