{% extends 'base.html' %}
{% load static %}
{% block seo %}
<title>Нутрициолог в Минске | Образование и опыт работы | Онлайн-консультации | Елена Мишута</title>
<meta name="description" content="Профессиональный нутрициолог с высшим образованием. Сертифицированный специалист. Работаю онлайн с клиентами из Минска, Беларуси и других стран. Подробнее о моём подходе.">
<meta name="keywords" content="нутрициолог минск, нутрициологи беларуси, врач нутрициолог минск, нутрициолог отзывы, консультация нутрициолога, Елена Мишута онлайн">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{% url 'about' %}">
<meta property="og:url" content="https://mishuta-nutrition.pro/about">
<meta property="og:type" content="website">
<meta property="og:title" content="Нутрициолог в Минске | Образование и опыт | Онлайн-консультации | Елена Мишута">
<meta property="og:image" content="{% static 'images/elenamishuta.jpg' %}">
<meta property="og:site_name" content="Нутрициолог Елена Мишута, Минск">
<meta property="og:description" content="Профессиональный нутрициолог с высшим образованием. Сертифицированный специалист. Работаю онлайн с клиентами из Минска, Беларуси и других стран. Подробнее о моём подходе.">
{% endblock %}
{% block page_content %}
<!-- section header -->

<section id="about" class="about">
<div class="content_section container">
    <h1 class="center">Ваш персональный нутрициолог <br>Елена Мишута</h1>
    <h2 class="center">Почему клиенты из Минска и не только<br> доверяют мне своё здоровье? </h2>
<div class="row">
    <div class="col-md-6 mb-3">
    <img loading="lazy" class="animate-on-scroll delay-2" src="{% static 'images/elenamishuta.jpg' %}" alt="Нутрициолог в Минске - консультация нутрициолога онлайн">
    </div>
<div class="col-md-6 animate-on-scroll delay-3">
    <ul class="mb-1">
        <li>Дипломированный <strong>нутрициолог</strong> с высшим медицинским образованием</li>
        <li>Врач с европейским дипломом (обучение и защита диплома врача на базе медицинского факультета Миланского университета, Италия)</li>
        <li>Консультант по питанию и здоровому образу жизни</li>
    </ul>
    <strong>Чем я могу быть полезна:</strong>
    <ul>
        <li>Анализ текущего рациона питания, выявление <strong>недостатков</strong> или избытков в питании</li>
        <li>Создание индивидуальных планов питания, учитывающих <strong>потребности и предпочтения клиента</strong>, а также его здоровье и физическую активность. Без строгих диет и жестких ограничений
</li>
        <li>Обучение  клиентов принципам здорового питания, правильному выбору продуктов</li>
        <li>Работа с пищевым поведением, выстраивание <strong>здоровых</strong> пищевых привычек</li>
        <li>Помощь клиентам в достижении их целей, предоставление рекомендаций и поддержки в процессе изменений</li>
    </ul>
        <div class="indent">
    <p class="center">Записаться на консультацию</p>
    <a class="btn btn-primary"  target="_blank" href="https://t.me/+375333007892" rel="nofollow">Телеграм</a>
        </div>
</div>
</div>

    <div class="row indent">
 <h3 class="center animate-on-scroll delay-1 indent">Мое образование в нутрициологии</h3>
         <p class="center animate-on-scroll delay-2 mb-3">Дипломы и сертификаты</p>
    <div class="gallery_block2">
<div class="gallery_item animate-on-scroll delay-2">
<div class="img_block hover_img">
    <a href="{% static 'images/diploma2.jpg' %}" class="prettyPhoto" data-rel="prettyPhoto[about]">
    <img src="{% static 'images/diploma.jpg' %}" alt="Диплом врача">
    <div class="item_fadder"></div>
    <div class="link_ico"><i class="fa fa-search"></i></div>
    </a>
</div>
</div>
<div class="gallery_item animate-on-scroll delay-3">
<div class="img_block hover_img">
    <a href="{% static 'images/milano2.jpg' %}" class="prettyPhoto"  data-rel="prettyPhoto[about]">
    <img class="" src="{% static 'images/milano.jpg' %}" alt="Диплом врача Миланский университет">
    <div class="item_fadder"></div>
    <div class="link_ico"><i class="fa fa-search"></i></div>
    </a>
</div>
</div>
<div class="gallery_item animate-on-scroll delay-4">
<div class="img_block hover_img">
    <a href="{% static 'images/nutritionist2.jpg' %}" class="prettyPhoto"  data-rel="prettyPhoto[about]">
    <img class="" src="{% static 'images/nutritionist.jpg' %}" alt="Диплом нутрициолога">
    <div class="item_fadder"></div>
    <div class="link_ico"><i class="fa fa-search"></i></div>
    </a>
</div>
</div>
<div class="gallery_item animate-on-scroll delay-5">
<div class="img_block hover_img">
    <a href="{% static 'images/docstarklab2.jpg' %}" class="prettyPhoto"  data-rel="prettyPhoto[about]">
    <img class="" src="{% static 'images/docstarklab.jpg' %}" alt="Повышение квалификации нутрициолога">
    <div class="item_fadder"></div>
    <div class="link_ico"><i class="fa fa-search"></i></div>
    </a>
</div>
</div>
    </div>
</div>
    </div>
<!-- //section content -->
</section>
{% endblock %}
