{% extends 'base.html' %}
{% load static %}
{% block seo %}
    <title>Нутрициолог Елена Мишута онлайн</title>
    <meta name="description" content="Запишись на консультацию нутрициолога онлайн ★ Расчет индекса массы тела ">
    <meta name="keywords" content="Нутрициолог Минск Москва Брест Витебск Гомель Гродно Могилев расчет индекса массы тела онлайт">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="#"/>
    <meta property="og:url" content="">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Нутрициолог Елена Мишута">
    <meta property="og:image" content="{% static 'images/lenamishuta.jpg' %}" />
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
{% endblock %}
{% block page_content %}
<!-- section header -->

<section id="about" class="about indent">
<div class="content_section container">
    <h2 class="center animate-on-scroll delay-1">Обо мне</h2>
<div class="row">
    <div class="col-md-6">
    <img loading="lazy" class="animate-on-scroll delay-2" src="{% static 'images/lenamishuta.jpg' %}" alt="Консультация нутрициолога онлайн" />
    </div>
<div class="col-md-6 animate-on-scroll delay-3">
    <ul>
        <li>Дипломированный <strong>нутрициолог</strong> с высшим медицинским образованием</li>
        <li>Врач с европейским дипломом (обучение и защита диплома врача на базе медицинского факультета Миланского университета, Италия)</li>
        <li>Консультант по питанию и здоровому образу жизни</li>
    </ul>
    <strong>Чем я могу быть полезна:</strong>
    <ul>
        <li>Анализ текущего рациона питания, выявление <strong>недостатков</strong> или избытков в питании</li>
        <li>Создание индивидуальных планов питания, учитывающих потребности и <strong>предпочтения клиента</strong>, а также его здоровье и физическую активность. Без строгих диет и жестких ограничений
</li>
        <li>Обучение  клиентов принципам здорового питания, правильному выбору продуктов</li>
        <li>Работа с пищевым поведением, выстраивание <strong>здоровых</strong> пищевых привычек</li>
        <li>Помощь клиентам в достижении их целей, предоставление рекомендаций и поддержки в процессе изменений</li>
    </ul>
        <div class="indent">
    <p class="center">Записаться на консультацию</p>
    <a class="btn btn-primary"  target="_blank" href="https://t.me/helenmishuta" rel="nofollow">Телеграм</a>
        </div>

</div>
</div>

    <div class="row indent">
 <h2 class="center animate-on-scroll delay-1 indent">Профессиональное образование</h2>
         <p class="center animate-on-scroll delay-2 mb-3">Дипломы и сертификаты</p>
    <div class="gallery_block2">
<div class="gallery_item animate-on-scroll delay-2">
    <div class="img_block hover_img">
    <a href="{% static 'images/diploma2.jpg' %}" class="prettyPhoto"  data-rel="prettyPhoto[about]">
    <img src="{% static 'images/diploma.jpg' %}" alt="Белорусский государственный медицинский университет"/>
    <div class="item_fadder"></div>
    <div class="link_ico"><i class="fa fa-search"></i></div>
    </a>
    </div>
</div>
<div class="gallery_item animate-on-scroll delay-3">
    <div class="img_block hover_img">
    <a href="{% static 'images/milano.jpg' %}" class="prettyPhoto"  data-rel="prettyPhoto[about]">
    <img class="" src="{% static 'images/milano.jpg' %}" alt="Миланский университет"/>
    <div class="item_fadder"></div>
    <div class="link_ico"><i class="fa fa-search"></i></div>
    </a>
    </div>
</div>
<div class="gallery_item animate-on-scroll delay-4">
    <div class="img_block hover_img">
    <a href="{% static 'images/nutritionist2.jpg' %}" class="prettyPhoto"  data-rel="prettyPhoto[about]">
    <img class="" src="{% static 'images/nutritionist.jpg' %}" alt="Диплом нутрициолога"/>
    <div class="item_fadder"></div>
    <div class="link_ico"><i class="fa fa-search"></i></div>
    </a>
    </div>
</div>
<div class="gallery_item animate-on-scroll delay-5">
    <div class="img_block hover_img">
    <a href="{% static 'images/docstarklab.jpg' %}" class="prettyPhoto"  data-rel="prettyPhoto[about]">
    <img class="" src="{% static 'images/docstarklab.jpg' %}" alt="Повышение квалификации нутрициолога"/>
    <div class="item_fadder"></div>
    <div class="link_ico"><i class="fa fa-search"></i></div>
    </a>
    </div>
</div>
    </div>
</div>
    </div>
</section><!-- //section content -->
{% endblock %}
