<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block seo %}
    {% endblock %}
    <!-- Favicon -->
<link rel="icon" href="https://mishuta-nutrition.pro/favicon.ico" type="image/x-icon" >
<link rel="icon" href="https://mishuta-nutrition.pro/favicon-32x32.png" type="image/png" sizes="32x32">
<link rel="icon" href="https://mishuta-nutrition.pro/favicon-16x16.png" type="image/png" sizes="16x16">
<link rel="apple-touch-icon" sizes="57x57" href="https://mishuta-nutrition.pro/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://mishuta-nutrition.pro/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://mishuta-nutrition.pro/apple_icons_114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://mishuta-nutrition.pro/apple_icons_144x144.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://mishuta-nutrition.pro/apple_icons_180x180.png">
    <link href="{% static 'css/first.css' %}?ver=14" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}?ver=14" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}?ver=15" rel="stylesheet">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css"><!-- для галереи -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oranienbaum&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script src="{% static 'js/jquery.js' %}"></script>
<!--<script src="{% static 'js/jquery-ui.min.js' %}"></script>-->
</head>
<body class="animated single_page" data-animated="fadeIn">
<div id="page1"><!-- page -->
<!-- header section -->
<div id="top">
<header>
<div class="gold">
<div class="container">
<!-- logo -->
<div id="logo">
<a href="{% url 'home' %}" title="Главная страница">
    <img src ="{% static 'images/logo.png' %}" alt="Нутрициолог Елена Мишута"> </a>
    <div class="vertical-group">
        <span data-double="Елена Мишута">Елена Мишута</span>
        <span data-double="Нутрициолог">Нутрициолог</span>
    </div>
</div>
<nav class="navmenu">
    <ul>
        <li class="scrollable"><a href="{% url 'home' %}">Главная</a></li>
        <li class="scrollable"><a href="{% url 'about' %}">Обо мне</a></li>
        <li class="scrollable"><a href="{% url 'services' %}">Услуги</a></li>
        <li class="scrollable"><a href="{% url 'calculator' %}">Расчет ИМТ</a></li>
        <li class="scrollable"><a href="{% url 'blog_index' %}">База знаний</a></li>
        <li class="scrollable"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdMdz7JXCR6U87NAHGegoLDIdxBFd1YH5iwBEUSxBBWnZTQ4A/viewform?fbclid=PAZXh0bgNhZW0CMTEAAaeKIUbiEkyMpPrDUNtXuLwzqusF3V7HdczB5Ua7zHI0shoSNhyDcfd0c9DgDQ_aem_3LWt-9R9hSlO_4_HX3yKhw" target="_blank" rel="nofollow">Анкета</a></li>
        <li class="scrollable"><a href="{% url 'home' %}#contact">Контакты</a></li>
    </ul>
</nav>
<div class="clear"></div>
</div>
</div><!-- end container -->
</header><!-- //header section -->
</div>
    <main role="main">
    {% block page_content %}

    {% endblock %}
<!-- Contact content -->
<section class="contact" id="contact" >
<header class="text-center mb-5">
    <div class="container">
        <h3 class="animate-on-scroll delay-1">Записаться на консультацию</h3>
        <p class="lead animate-on-scroll delay-2">Укажите желаемую дату и время, я с вами свяжусь</p>
    </div><!-- end .container -->
</header>
<div class="contact_form ">
    <div class="container">
        <div class="row">
<div class="col-md-7">
    <div id="note"></div>
    <div id="fields">
    <form name="sentMessage" method = "POST" action="#contact" id="contactForm" novalidate>
    {% csrf_token %}
        <div class="row">
        <div class="form-group">
        {{contact_form.name}}
        <p class="help-block"> {{ contact_form.name.errors }}</p>
        </div>
        <div class="form-group">
        {{contact_form.phone}}
        <p class="help-block">{{ contact_form.phone.errors }}</p>
        </div>
        <div class="form-group">
        {{contact_form.email}}
        <p class="help-block">{{ contact_form.email.errors }}</p>
        </div>
        <div class="form-group">
        {{contact_form.message}}
        <p class="help-block">* Обязательные поля</p>
        </div>
        <div class="clearfix"></div>
        <div id="success"></div>
        <input class="send_btn" name="contact_submit" type="submit" value="Отправить">
<div class="indent">
        {% if contact_success %}
<div class="alert alert-success" role="alert">
   Ваше сообщение успешно отправлено! Свяжусь с вами в ближайшее время
</div>
        {% endif %}

    {% if contact_errors %}
<div class="alert alert-danger" role="alert">
    {{ contact_errors }}
</div>
{% endif %}
</div>
        </div>
    </form>
    </div>
</div>

    <div class="col-md-5 contact_info">
        <p><a href="tel:+375296986875" rel="nofollow" target="_blank"><i class="fas fa-phone-alt fa-fw me-2"></i>+375 29 698 68 75</a></p>
        <p><a href="viber://chat?number=375296986875" rel="nofollow" target="_blank"><i class="fab fa-viber fa-fw me-2 text-viber"></i>Viber</a></p>
        <p><a href="https://t.me/+375296986875" rel="nofollow" target="_blank"><i class="fab fa-telegram fa-fw me-2"></i>Telegram</a></p>
        <p><a href="mailto:misutaelena02@gmail.com" rel="nofollow" target="_blank"><i class="far fa-envelope fa-fw me-2"></i>Email</a></p>
    </div>

        </div><!--row-->
    </div><!--container-->
</div>

<div class="content_section partner_section">
<div class="container">
<a href="#top" class="next_section back2top"></a>
</div>
</div>
</section><!-- //section content -->
</main>
<!--footer-->
<div class="footer">
<div class="footer_bottom container">
<div class="row">
<div class="col-md-4 indent">
<ul class="navigator indent">
    <li class="scrollable"><a href="{% url 'home' %}#top">Главная</a></li>
        <li class="scrollable"><a href="{% url 'about' %}">Обо мне</a></li>
        <li class="scrollable"><a href="{% url 'services' %}">Услуги</a></li>
        <li class="scrollable"><a href="{% url 'calculator' %}">Расчет ИМТ</a></li>
        <li class="scrollable"><a href="{% url 'blog_index' %}">База знаний</a></li>
        <li class="scrollable"><a href="{% url 'home' %}#contact">Контакты</a></li>
        <li class="scrollable"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdMdz7JXCR6U87NAHGegoLDIdxBFd1YH5iwBEUSxBBWnZTQ4A/viewform?fbclid=PAZXh0bgNhZW0CMTEAAaeKIUbiEkyMpPrDUNtXuLwzqusF3V7HdczB5Ua7zHI0shoSNhyDcfd0c9DgDQ_aem_3LWt-9R9hSlO_4_HX3yKhw" target="_blank" rel="nofollow">Анкета первичной консультации</a></li>
</ul>
</div>

<div class="col-md-4 indent">
<div class="socials indent">
<ul class="socials_list">
<li><a title="Подпишись на Instagram" href="https://www.instagram.com/mishuta_nutrition_lab/" target="_blank">
<i class="fab fa-instagram"></i></a></li>
<li><a title="Подпишись на Telegram" href="https://t.me/Mishuta_Nutrition" target="_blank">
<i class="fab fa-telegram"></i></a></li>
<li><a title="Email" href="mailto:misutaelena02@gmail.com" rel="nofollow" target="_blank">
<i class="fa fa-envelope"></i></a></li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">© 2026</div>
<p class="copyright">mishuta-nutrition.pro</p>

</div>

<div class="col-md-4 indent center">
</div>
</div>
</div><!-- //footer_bottom -->
</div><!--//footer-->
</div><!-- end #page1 -->

        <script>
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-fade-in-up');
          observer.unobserve(entry.target); // Прекращаем наблюдение после анимации
        }
      });
    }, {
      rootMargin: '0px 0px -90px 0px', // Срабатывает при появлении 90px элемента
      threshold: 0.1
    });

    document.querySelectorAll('.animate-on-scroll').forEach(el => {
      observer.observe(el);
    });
    jQuery('.animate-on-scroll').each(function() {
      if (!this.classList.contains('animate-fade-in-up')) {
        this.style.opacity = '0';
        this.style.transform = 'translateY(90px)';
      }
    });
        </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/current.js' %}"></script>
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<header class="fixed-menu"></header>
<!-- Yandex.Metrika counter -->
<script>
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=105921995', 'ym');

    ym(105921995, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/105921995" style="position:absolute; left:-9999px;"></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>