{% extends 'base.html' %}
{% load static %}
{% block seo %}
    <title>Нутрициолог Елена Мишута, Минск</title>
    <meta name="description" content="Запишись онлайн   ★ ">
    <meta name="keywords" content="">
    <meta name="robots" content="" />
    <link rel="canonical" href="#"/>
    <meta property="og:url" content="">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Нутрициолог Елена Мишута">
    <meta property="og:image" content="{% static 'images/lenamishuta.jpg' %}" />
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
{% endblock %}
{% block page_content %}
<!-- section header -->
<section class="page_section">
<header>
<div class="container">
<h1 class="animate-fade-in-up delay-1 shadow">Персональное питание для энергии и стройности</h1>
<h3 class="animate-fade-in-up delay-2 shadow">Составьте идеальный рацион с сертифицированным нутрициологом и улучшите своё здоровье</h3>
<a class="btn btn-primary delay-3" href ="#contact">Записаться</a>
</div><!-- end .container -->
     <a href="" class="next_section"></a>
</header>

<div class="content_section container">
<div class="row indent">
<h2 class="center main_color1 animate-on-scroll delay-1">Ваши проблемы</h2>

<div class="col-md-4">
<div class="service animate-on-scroll delay-2">
<img loading="lazy" src="{% static 'images/gallery/01.png' %}" alt="Консультация нутрициолога онлайн" />
<span class="service_title">Не знаете, как совместить питание и работу</span>
</div>
</div>
<div class="col-md-4">
<div class="service animate-on-scroll delay-3">
<img loading="lazy" src="{% static 'images/gallery/02.jpeg' %}" alt="Консультация нутрициолога онлайн" />
<span class="service_title">Устали от диет, которые не работают на долгом сроке</span>
</div>
</div>
<div class="col-md-4">
<div class="service animate-on-scroll delay-4">
<img loading="lazy" src="{% static 'images/gallery/03.png' %}" alt="Консультация нутрициолога онлайн" />
<span class="service_title">Хотите сохранить здоровье без таблеток</span>
</div>
</div>

</div>
     <a href="" class="next_section"></a>
</div>

</section>
<section id="" class ="advantages">
<header>
<div class="content_section container">
<div class="row indent">
<h2 class="center shadow animate-on-scroll delay-1">Мои преимущества</h2>
<div class="col-md-4">
<div class="service animate-on-scroll delay-2">
<img loading="lazy" src="{% static 'images/gallery/bgmu.jpg' %}" alt="Консультация нутрициолога онлайн" />
<span class="service_title">Медицинское образование и глубокие знания, работа с клиентами, имеющими хронические заболевания</span>
<span class="service_title">Понимание биохимии, физиологии и взаимодействия лекарств и нутриентов на профессиональном уровне</span>
<span class="service_title">Дополнение рекомендаций лечащего врача без противоречий</span>
</div>

</div>

<div class="col-md-4">
<div class="service animate-on-scroll delay-3">
<img loading="lazy" src="{% static 'images/gallery/call.png' %}" alt="Консультация нутрициолога онлайн" />
<span class="service_title">Экономия времени и конфеденциальность</span>
<span class="service_title">Доступность из любого региона, комфортная для Вас среда</span>
<span class="service_title">Легкий обмен документами (анализы, выписки), использование дневников питания (спец. приложения), чат для оперативной поддержки</span>
</div>
</div>
<div class="col-md-4">
<div class="service animate-on-scroll delay-4">
<img loading="lazy" src="{% static 'images/gallery/05.jpg' %}" alt="Консультация нутрициолога онлайн" />
<span class="service_title">Безопасная нутрициологическая поддержка и работа со сложными случаями</span>
<span class="service_title">Гарантия результата за 3 месяца</span>
<span class="service_title">Гибкость форматов работы без поездок и очередей, на основе вашего рациона питания, без жестких ограничений</span>
</div>
</div>

</div>
      <a href="#service" class="next_section"></a>
</div><!-- end .container -->
</header><!-- //section header -->

</section>
<!--<div class="clear"></div>-->


<section class="about">
<div class="content_section container featured_items">
    <h2 class="center animate-on-scroll delay-1">Чем я могу быть полезна</h2>
<div class="row">
    <div class="col-md-6">
    <img loading="lazy" class="animate-on-scroll delay-2" src="{% static 'images/lenamishuta.jpg' %}" alt="Консультация нутрициолога онлайн" />
    </div>
<div class="col-md-6 animate-on-scroll delay-3">
    <ul>
        <li>Дипломированный нутрициолог с высшим медицинским образованием</li>
        <li>Консультант по питанию и здоровому образу жизни</li>
    </ul>
    <p class="justify">Анализирую Ваш рацион питания и помогаю составить полноценный сбалансированный рацион без строгих диет и жёстких ограничений с учётом Ваших индивидуальных особенностей (возраст, пол, образ жизни, сопутствующие заболевания)</p>
    <p class="justify">Обучаю Вас основам здорового питания и правилами составления пищевой тарелки</p>
    <p class="justify">Работаем с пищевым поведением путем мягкой коррекции Вашего питания. Комфортно и постепенно меняем Ваши пищевые привычки и образ жизни для достижения гарантированного и стойкого результата</p>
    <p class="justify">Научимся выбирать нужные и полезные продукты, вкусно и просто их готовить</p>
    <p class="justify">Разберёмся как с помощью питания молодо и свежо выглядеть, увеличить силы и энергию, улучшить настроение и минимизировать стресс</p>
    <p class="justify">Самое большое удовлетворение от своей работы я получаю тогда, когда вижу блеск в глазах клиента и радостную улыбку на лице!</p>
     <p class="justify">слева Видеообращение (до 30 секунд)</p>
        <div class="indent">
    <p class="center">Записаться на консультацию</p>
    <a class="btn btn-primary"  href="https://t.me/helenmishuta" rel="nofollow">Телеграм</a>
        </div>
</div>

<div class="clear"></div>
<a href="#service" class="next_section"></a>
</div>
    </div>
<!-- //section content -->
</section>

<section>
<div class="content_section container featured_items">
    <h2 class="center animate-on-scroll delay-1">Калькулятор расчета индивидуальной массы тела (ИМТ)</h2>
<div class="row">
    <div class="col-md-6"></div>
</div>
</div>
</section>
<section id="service" class ="service">
<!-- section header -->
<header>
<div class="content_section container">
<div class="row indent">
<h2 class="center shadow animate-on-scroll delay-1">Услуги</h2>

<div class="col-md-4">
<div class="service animate-on-scroll delay-2 ">
<h3>Индивидуальный разбор здоровья</h3>
<h4>Комплексный анализ вашего состояния, питания и целей с учетом медицинских особенностей</h4>
<strong>Что входит:</strong>
<p class="justify"><i class="fa fa-check"></i>&emsp;Глубокий сбор анамнеза (анализы, жалобы, симптомы, текущее питание)</p>
<p class="justify"><i class="fa fa-check"></i>&emsp;Оценка дефицитов витаминов/минералов на основе анализов (если есть)</p>
<p class="justify"><i class="fa fa-check"></i>&emsp;Разбор пищевых привычек и их влияния на здоровье</p>
<p class="justify"><i class="fa fa-check"></i>&emsp;Рекомендации по коррекции питания с учетом заболеваний (если есть)</p>
<p class="justify"><i class="fa fa-check"></i>&emsp;Ответы на вопросы + чек-лист с первыми шагами</p>
<span>Цена: 100 руб.</span>
<p>Продолжительность: <br>60–75 минут</p>
</div>
</div>
<div class="col-md-4">
<div class="service animate-on-scroll delay-2 ">
<h3>Программа сопровождения «Здоровье под контролем»</h3>
<h4>Персональный план питания и образа жизни на 1 месяц с поддержкой</h4>
<strong>Что входит:</strong>
<p class="justify"><i class="fa fa-wand-magic-sparkles"></i>&emsp;Разработка индивидуального рациона (с учетом анализов, заболеваний, целей)</p>
<p class="justify"><i class="fa fa-wand-magic-sparkles"></i>&emsp;Подбор БАДов/нутриентов (при необходимости, с учетом лекарств)</p>
<p class="justify"><i class="fa fa-wand-magic-sparkles"></i>&emsp;Еженедельные корректировки по ощущениям и результатам</p>
<p class="justify"><i class="fa fa-wand-magic-sparkles"></i>&emsp;Доступ в чат для вопросов (ответы в течение 24 часов)</p>
<p class="justify"><i class="fa fa-wand-magic-sparkles"></i>&emsp;2 онлайн-встречи для контроля прогресса</p>
    <span>Цена: 320 руб.</span>
    <span>Продление: 160 руб.</span>
<p>Продолжительность: <br>1 месяц</p>

</div>
</div>
<div class="col-md-4">
<div class="service animate-on-scroll delay-2 ">
<h3>Экспресс-консультация «Оптимизация рациона»</h3>
<h4>Разбор вашего текущего питания и индивидуальные рекомендации по его улучшению</h4>
<strong>Что входит:</strong>
<p class="justify"><i class="fa fa-magnifying-glass"></i>&emsp;Анализ вашего дневника питания (если есть) или разбор типичного рациона</p>
<p class="justify"><i class="fa fa-magnifying-glass"></i>&emsp;Выявление дефицитов и избытков в питании (белки, жиры, углеводы, клетчатка)</p>
<p class="justify"><i class="fa fa-magnifying-glass"></i>&emsp;Рекомендации по сбалансированному меню под ваши цели (энергия, ЖКТ, вес и др.)</p>
<p class="justify"><i class="fa fa-magnifying-glass"></i>&emsp;Подбор полезных альтернатив вредным привычкам в еде</p>
<p class="justify"><i class="fa fa-magnifying-glass"></i>&emsp;Чек-лист с простыми и эффективными изменениями</p>
<span>Цена: 60 руб.</span>
<p>Продолжительность: <br>40 минут</p>
</div>
</div>

</div>
</div><!-- end .container -->
</header>
<!-- //section header -->
</section>
 <!-- Pricing Section -->


<section>
<div class="clear"></div>
<!-- //gallery_block -->
<!-- section content -->
<div class="content_section container empty_section">
<div class="clear"></div>
</div>
<!-- //section content -->
</section>
{% endblock %}
<