/db.sqlite3
/venv/
/helen/static/js/
/helen/static/images/
/helen/migrations/
/helen/admin/
/helen/static/images/
/helen/admin/css/
/helen/admin/img/
/helen/admin/js/
/nutri/.env
/helen/templates/404.html
/helen/templates/500.html
