/db.sqlite3
/venv/
/helen/static/js/
/helen/static/images/
/helen/migrations/
/helen/admin/
/helen/admin/css/
/helen/admin/img/
/helen/admin/js/
/nutri/.env
/helen/templates/404.html
/helen/templates/500.html
/calc/models.py
/helen/templates/robots.txt
/helen/templates/sitemap.xml
/apple_icons_57x57.png
/apple_icons_72x72.png
/apple_icons_114x114.png
/apple_icons_144x144.png
/apple_icons_180x180.png
/favicon.ico
/favicon исх.png
/favicon-16x16.png
/favicon-32x32.png
