/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/
.vertical-group {
    padding: 8px 8px 5px 0;
    display: flex;
    flex-direction: column;
}
.navbar span, .footer span {
    font-family: "Oranienbaum", serif;
    color: #cfc09f;
    text-transform: uppercase;
    position: relative;
    line-height: 1.2;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    letter-spacing: 4px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.navbar span:before, .footer span:before {
    content: attr(data-double);
    left: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, #e9e6dc 28%, #c2b99c 48%, #CAC0A3 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
.navbar span + span {
    font-size: 16px;
    letter-spacing: 13px;
}
.navbar-nav a {
    padding: 4px;
    font-weight: 400;
    color: #cfc09f;
    background: linear-gradient(to bottom, #e9e6dc 50%, #c2b99c 48%, #CAC0A3 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 32px;
}
.navbar-nav a:hover, .navbar-nav a:active {
    color: #cfc09f;
    background: linear-gradient(to bottom, #EEECE0 65%, #EAE6DB 50%, #CAC0A3 25%, #60584B 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 30px;
    transition: all 0.5s ease;
    z-index: 99;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #A29166, #FDFAD9, #A29166);
    border-image-slice: 1;
    background: transparent;
}
.back-to-top:hover {
    color: #A29166 !important; /* Меняем цвет иконки на золотой */
    border-image: linear-gradient(to bottom, #FDFAD9, #A29166, #FDFAD9);
    border-image-slice: 1;
    background: rgba(253, 250, 217, 0.1);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}
.back-to-top:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(162, 145, 102, 0.3);
}
/*** Button Start ***/
.btn {
    font-weight: 400;
    transition: .5s;
    letter-spacing: 2px;
}

.btn-square {
    width: 32px;
    height: 32px;
    letter-spacing: 0px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
   border: none;
}
.btn.btn-primary:hover {
    color: var(--bs-white);
    background: var(--bs-dark);
}

.btn.btn-light {
    color: var(--bs-primary);
    border: none;
}

.btn.btn-light:hover {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.btn.btn-dark {
    color: var(--bs-white);
    border: none;
}

.btn.btn-dark:hover {
    color: var(--bs-primary);
    background: var(--bs-light);
}

/*** Navbar Start ***/
.nav-bar {
    background: var(--bs-green);
    margin-top: 0;
}

.sticky-top {
    transition: 1s;
    margin-top: 0;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    margin-top: 0;
    padding: 35px 0;
    letter-spacing: 1px;
    color: var(--bs-dark);
    font-size: 17px;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--bs-dark);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-brand img {
    max-height: 54px;
    width: auto !important;
    margin-top: 8px;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    margin-top: 8px !important;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    border-radius: 10px;
    margin-top: 8px !important;
    transition: .5s;
    opacity: 0;
    }
}
@media (max-width: 991px) {
    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 6px;
        border: 3px solid transparent;
        border-image: linear-gradient(to bottom, #A29166, #FDFAD9, #A29166);
        border-image-slice: 1;
        color: #CFC09F;
        padding: 6px;
        transition: all 0.3s ease;
    }
    .navbar.navbar-expand-lg .navbar-toggler:hover {
        border-image: linear-gradient(to bottom, #FDFAD9, #A29166, #FDFAD9);
        border-image-slice: 1;
        box-shadow: 0 0 10px rgba(162, 145, 102, 0.5);
}
        .navbar span {
        font-size: 28px;
        letter-spacing: 3px;
    }
    .navbar span + span {
        font-size: 16px;
        letter-spacing: 11px;
}
    .sticky-top .navbar-light .navbar-nav .nav-link {
        padding: 12px 0;
    }
    .footer .footer-item p {
    font-size: 1rem;
}
}
/*** Navbar End ***/

/*** Carousel Hero Header Start ***/
.header-carousel .header-carousel-item img {
    object-fit: cover;
}


@media (min-width: 1200px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        height: 700px;
    }
}

@media (max-width: 1199px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        height: 1200px;
    }
}


.header-carousel .header-carousel-item img {
    animation-name: image-zoom;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s;
}

@keyframes image-zoom {
    0%  {width: 100%; height: 100%;}

    25% {width: 115%; height: 115%;}

    50% {width: 130%; height: 130%;}

    75% {width: 120%; height: 120%;}

    100% {width: 100%; height: 100%;}
}
/*** Carousel Hero Header End ***/

/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(../images/slide_bg/08.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    transition: 0.5s;
    background-attachment: fixed;
}
.bg-breadcrumb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}
/*** Single Page Hero Header End ***/


/*** Feature Start ***/
.feature .feature-item {
    position: relative;
    border-radius: 10px;
    background: var(--bs-light);
}

.feature-item .feature-content {
    position: absolute;
    width: 100%; 
    height: 100%; 
    bottom: 0; 
    left: 0;
    margin-top: 0;
    margin-right: 0; 
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
}

.feature-item .feature-content .feature-content-inner {
    position: relative;
    z-index: 5;
}
/*** Feature End ***/

section, .section {
    color: #333;
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 92px;
    overflow: clip;
}
/*** Gallery Start ***/
.gallery .gallery-item {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}

.gallery .gallery-item img {
    transition: 0.5s;
}

.gallery .gallery-item:hover img {
    transform: scale(1.2);
}

.gallery .gallery-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgba(0, 0, 0, .4);
    transition: 0.5s;
    z-index: 1;
}

.gallery .gallery-item:hover::after {
    width: 100%;
    height: 100%;
}

.gallery .gallery-item .search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    z-index: 5;
    opacity: 0;
}

.gallery .gallery-item:hover .search-icon {
    opacity: 1;
}
/*** Gallery End ***/

/*** Blog Start ***/
.blog .blog-item {
    border-radius: 10px;
}

.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}
.blog .blog-item .blog-img a {
    position: relative;
    z-index: 2;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}

.blog .blog-item .blog-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.blog .blog-item .blog-img .blog-category {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 10px;
    color: var(--bs-white);
    background: var(--bs-primary);
    z-index: 5;
}

.blog .blog-item .blog-img .blog-date {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: var(--bs-white);
    z-index: 5;
}

.blog .blog-item .blog-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bs-white);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog-details {
    padding-bottom: 30px;
}
.blog-details .article {
    background-color: var(--bs-white);
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog-details .title {
    color: var(--bs-green);
    font-size: 28px;
    font-weight: 300;
    padding: 0;
    margin: 30px 0;
    letter-spacing:2px;
}
.blog-details .post-img {
    margin:20px 0;
    overflow: hidden;
}
.blog-details .content h3 {
    font-size: 1.6rem;
    margin-top: 30px;
    color: var(--bs-green);
}
.blog-details .meta-top {
    margin-top: 20px;
    color: var(--bs-gray);
}
.blog-details .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}
.blog-details .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: var(--bs-gray);
}
.blog-details .meta-top ul li a {
    padding-left: 8px;
}
.blog-details .meta-bottom a {
    color: color-mix(in srgb, var(--bs-gray), transparent 20%);
    transition: 0.3s;
}
.blog-details .meta-bottom a:hover {
    color: var(--bs-secondary);
}
.blog-details .meta-bottom {
    padding-top: 10px;
    border-top: 1px solid color-mix(in srgb, var(--bs-gray), transparent 90%);
}
.blog-details .meta-bottom .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}
.blog-details .meta-bottom .cats li {
    display: inline-block;
}
.blog-details .meta-bottom i {
    color: color-mix(in srgb, var(--bs-gray), transparent 20%);
    display: inline;
}
.blog-details .meta-bottom .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}
.blog-details .meta-bottom .tags li {
    display: inline-block;
}
.blog-details .meta-bottom .tags li+li::before {
    padding-right: 6px;
    color: var(--bs-gray);
    content: ",";
}
.blog-details .meta-bottom .cats li+li::before {
    padding-right: 6px;
    color: var(--bs-gray);
    content: ",";
}
.widgets-container {
    background-color: var(--bs-white);
    padding: 30px;
    margin: 60px 0 30px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.widget-title {
    color: var(--bs-green);
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Roboto", sans-serif;
}
.widget-item {
    margin-bottom: 40px;
}
.search-widget form:is(:focus-within) {
    border-color: var(--bs-secondary);
}
.search-widget form {
    background: var(--background-color);
    border: 1px solid color-mix(in srgb, var(--bs-gray), transparent 70%);
    padding: 3px 10px;
    position: relative;
    transition: 0.3s;
}
.search-widget form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
    background-color: var(--background-color);
    color: var(--default-color);
}
.search-widget form input[type=text]:focus {
    outline: none;
}

.search-widget form button {
    background: var(--bs-secondary);
    color: var(--bs-dark);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 16px;
    margin: -1px;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}
.search-widget form button:hover {
    background: color-mix(in srgb, var(--bs-secondary), transparent 20%);
}
.categories-widget ul li {
    padding-bottom: 10px;
}
.categories-widget ul a span {
    padding-left: 5px;
    color: var(--bs-gray);
    font-size: 14px;
}
.recent-posts-widget .post-item h4 {
    font-size: 15px;
    margin-bottom: 5px;
}
.recent-posts-widget .post-item h4 a {
    color: var(--bs-gray);
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
}
.recent-posts-widget .post-item h4 a:hover {
    color: var(--bs-secondary);
}
.recent-posts-widget .post-item {
    display: flex;
    margin-bottom: 15px;
}
.recent-posts-widget .post-item img {
    width: 100px;
    margin-right: 15px;
}
.recent-posts-widget .post-item time {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: var(--bs-gray);
}
.tags-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tags-widget ul li {
    display: inline-block;
}
.tags-widget ul a {
    color: color-mix(in srgb, var(--bs-gray), transparent 10%);
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid color-mix(in srgb, var(--bs-gray), transparent 10%);
    display: inline-block;
    transition: 0.3s;
}
.tags-widget ul a:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
    border: 1px solid var(--bs-secondary);
}
.widget-item:last-child {
    margin-bottom: 0;
}
/*** Blog End ***/

/*** Team Start ***/
.team .team-item {
    position: relative;
    background: var(--bs-primary);
    border-radius: 10px;
}

.team .team-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: var(--bs-dark);
    transition: 0.5s;
    z-index: 1;
}

.team .team-item:hover:after {
    height: 100%;
}

.team .team-item .team-content {
    position: relative;
    text-align: center;
    z-index: 2;
}

.team-icon a {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #FDFAD9, #A29166, #FDFAD9);
    border-image-slice: 1;
    background: transparent;
    padding: 6px;
    color: #CFC09F!important;
    transition: all 0.3s ease;
    letter-spacing: 0px;
    line-height:0!important;
}

.team-icon a:hover {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #FDFAD9, #A29166, #FDFAD9);
    border-image-slice: 1;
    transform: translateY(-1px);
}

/* Цвет иконки при наведении - золотой (без градиента, но эффектно) */
.team-icon a:hover i {
    background: linear-gradient(to bottom, #FDFAD9, #A29166, #FDFAD9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: transparent;
}

.team-icon a i {
    /*color: var(--bs-white);*/
    transition: color 0.3s ease, text-shadow 0.3s ease;
}



.team .team-item .team-content h4,
.team .team-item .team-content p {
    transition: 0.5s;
}

.team .team-item:hover .team-content h4 {
    color: var(--bs-primary);
}

.team .team-item .team-content p {
    color: var(--bs-white);
    transition: 0.5s;
}

.team .team-item:hover .team-content p {
    color: var(--bs-body);
}
/*** Team End ***/

.comment-form {
    padding-top: 10px;
}
.comment-form form {
    background-color: var(--surface-color);
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
h4 {
    font-size: 1.6rem;
    color: var(--bs-green);
    letter-spacing:2px;
}
.comment-form form .form-group {
    margin-bottom: 10px;
}
.send_btn {
    cursor: pointer;
    background: linear-gradient(to top, rgb(199, 150, 153) 0%, rgb(236, 207, 201) 100%);
    font-size: 20px;
    color: #fff;
    margin: auto;
    border-radius: 50px;
    display: inline-block;
    padding: 27px 0px 22px;
    font-weight: bold;
    width: 300px;
    vertical-align: top;
    transition: all 0.3s ease;
    border: 0 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}
.send_btn:hover {
    background: var(--bs-red);
    text-decoration: none;
    box-shadow: none;}
/*** Footer Start ***/
.footer {
    background: linear-gradient(to top, var(--bs-green), var(--bs-gray));
}
.footer .footer-item {
    display: flex;
    flex-direction: column;
}
.footer .footer-item a {
    font-family: "Oranienbaum", serif;
    line-height: 35px;
    color: var(--bs-white);
    transition: 0.5s;
}
.footer .footer-item p {
    font-family: "Oranienbaum", serif;
    line-height: 35px;
}
.footer a:hover {
    color: var(--bs-primary);
}
.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}
.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
}
.footer .footer-item .footer-btn a:hover i {
    color: var(--bs-primary);
}
.footer .footer-item .opening-date {
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}
.footer .footer-item .opening-date .opening-clock {
    display: flex;
    align-items: center;
    line-height: 35px;
}
/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-green);
}
/*** copyright end ***/

.result-card {
    animation-duration: 0.8s;
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    border-radius: 0 !important;
}

.animate__animated {
    animation-duration: 0.8s;
}


