body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #fff2ea;
  padding: 0;
  margin-top: 0;
  overflow-x: hidden;
  font-size: 1.2em;
  line-height: 1.4em;
  color: #333;
}
.gold {
    background: var(--main-color1);
    margin-top:0;
    }
.page_section header,
.page_section header #contact {background-image:url("../images/slide_bg/13.jpg");background-position:top center;background-attachment:fixed;background-repeat:no-repeat;background-size:cover;
position: relative; /* Добавляем относительное позиционирование */
overflow: hidden; /* Скрываем все, что выходит за пределы блока */}

header {background-position:top center;background-attachment:fixed;background-repeat:no-repeat;background-size:cover;
position: relative; /* Добавляем относительное позиционирование */
    overflow: hidden; /* Скрываем все, что выходит за пределы блока */}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.7) 70%); /* Полупрозрачный черный цвет для затемнения */
    z-index: 1; /* Убедитесь, что слой находится поверх изображения */
}
header > * {
    position: relative;
    z-index: 2; /* Убедитесь, что контент находится поверх затемнения */
}
.page_section header{color:#fff;width:100%;overflow:hidden;padding-top:450px;padding-bottom:100px;}
.page_section header div.container{z-index:900;position:relative;}
.page_section header div.container p{color:#fff;font-weight:300;text-align:center;font-size:24px;letter-spacing:1px; sans-serif;line-height:22px;padding:0 20px 10px 20px;margin-bottom:0;text-shadow: 0 1px 4px rgba(0,0,0,.5)}
header #logo img.logo_retina{display:none;}
.blog header{color:#fff;width:100%;overflow:hidden;padding-top:150px;padding-bottom:60px;}

#top header{top:0 !important;position:fixed; height:73px;padding:0;
 margin: 0;
 background:#fff;border:none;left:0;width:100%!important;z-index:9999;}
#logo {float:left;padding:3px 10px 0 0;vertical-align:top;  display: flex; /* Горизонтальное расположение */ align-items: flex-start; /* Ключевое свойство для выравнивания по верху */}
.gold span {
    font-family: "Oranienbaum", serif;
    color: #cfc09f;
    text-transform: uppercase;
    position: relative;
    line-height: 1.2;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    letter-spacing: 4px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.gold span + span {
    font-size: 16px;
    letter-spacing: 13px;
}
.gold span:before {
    content: attr(data-double);
    left: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, #e9e6dc 28%, #c2b99c 48%, #CAC0A3 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
.vertical-group {
  padding: 8px 8px 5px 0;
  display: flex;
  flex-direction: column; /* Вертикальное расположение внутри */
}
#logo img{height:64px !important;width:auto !important;margin-top:6px;filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));}
@media (min-width:800px){
   .page_section header {
    background-image: url("../images/slide_bg/01.jpeg");
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Добавляем относительное позиционирование */
    overflow: hidden; /* Скрываем все, что выходит за пределы блока */
    padding-top:200px;
    padding-bottom:100px
}
.blog header {
    background-image: url("../images/slide_bg/08.png");
    padding-top:140px;padding-bottom:60px;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Добавляем относительное позиционирование */
    overflow: hidden; /* Скрываем все, что выходит за пределы блока */
}

}
/* Добавляем анимацию кнопке*/
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px); /* Начальное положение (ниже)*/
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Конечное положение*/
  }
}
.page_section header div.container h1
 {
  font-family: "Oranienbaum", serif;
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 0 0 10px 0;
  margin: 0;
  text-align: left;
  color: #fff;
  line-height: 96px;
}
.page_section header div.container h2
 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  padding: 0 0 40px 0;
  margin: 0;
  text-align: left;
  color: #fff;
  font-size: 1.2em;
 }
 #about h2, #calc h2
 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  padding: 0 0 40px 0;
  margin: 0;
  color:var(--main-color1)
 }

  @keyframes fadeInUp {
            from {
                transform: translateY(100px);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
/* Базовый класс для анимированных элементов */
.animate-fade-in-up {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1s ease-out forwards;
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 1s ease-out forwards;}
/* Классы для разных задержек */
.delay-1 { animation-delay: 0.3s; }
.delay-2 { animation-delay: 0.5s; }
.delay-3 { animation-delay: 0.7s; }
.delay-4 { animation-delay: 0.9s; }
.delay-5 { animation-delay: 1.1s; }

.navmenu{margin:0;padding:20px 0 2px 0;float:right;}
.navmenu ul li{display:inline-block;vertical-align:top;line-height:32px; }
.navmenu ul li a{padding:4px;font-weight:400; color: #cfc09f;
 background: linear-gradient(to bottom,  #e9e6dc 50%, #c2b99c 48%, #CAC0A3 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto Condensed", sans-serif;
    }
.navmenu li a:hover, .navmenu li a:active{color:#cfc09f;
 background: linear-gradient(to bottom, #EEECE0 65%,#EAE6DB 50%, #CAC0A3 25%, #60584B 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
     }
.navmenu ul li{list-style:none;margin:0; position:relative;}

@media (max-width:767px){
#page1 {padding-top:0; margin-top:0}
#top header{background:#ffffff !important;top:0 !important;height:74px!important;}
.page_section header {padding-top: 260px;padding-bottom:20px;}
section header h1{font-size:2.4em !important;line-height:1em !important;}
h3{font-size:1.8em!important}
.blog header {
    background-image: url("../images/slide_bg/08.png");
}
.blog_post h3 a{font-size: 1em!important}
}
@media only screen and (max-width:1200px){.filter_navigation ul li ul li{margin-bottom:5px !important;}
#page1 {padding-top:0; margin-top:0}
#top header{position:relative;z-index:999;padding:0; margin:0}
#top header #logo{padding:5px 10px 5px 0;}
#top header #logo img{height:54px !important;width:auto !important;margin-top:8px;
filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));}
#top header .container{position:relative;margin-top:0}
#home{margin-top:0;}
a.menu_toggler{display:inline-block;float:right;margin:-17px 20px 0px 0;border:none;border-radius:0;box-shadow:1px 2px 5px rgba(0,0,0,.5);width:34px;height:34px; position:absolute;overflow:hidden; right:0; top:50%; background: linear-gradient(to bottom, #e9e6dc 28%, #c2b99c 48%, #CAC0A3 84%);}
a.menu_toggler:hover{background-color:#ffffff;}
a.menu_toggler:before{content:'';display:block;position:absolute;left:7px;top:7px;width:20px;height:20px;background-repeat:no-repeat;background:url("../images/btn_menu.png") no-repeat 0 0;}
.fixed-menu,
.fixed-menu:before,
.fixed-menu:after{display:none!important;}
.mobile_menu_wrapper{display:block;background: linear-gradient(to top, var(--main-color2), var(--main-color1));padding:74px 40px 20px 10px;}
.mobile_menu_wrapper ul li{padding:10px 0; list-style:none}
.mobile_menu_wrapper a{color:#fff}
.mobile_menu_wrapper a:hover{color:var(--main-color1-light)}
.fixed-menu{display:none!important}
#top header nav{display:none!important;}
}
.container {
padding-right: 5px;
padding-left: 10px;
margin-right: auto;
margin-left: auto;
margin-top:0
}
@media (max-width: 980px) {
  .col-md-8.col-md-offset-2 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 750px; /* или другой подходящий размер */
  }
}
